<launch>
    <!-- Intel realsense d435i convention is Z-forward, X-right, Y-down
         ROS convention is X-forward, Y-left, Z-up  
         Besides, the camera has a -10° orientation in X-->

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_camera_link" args="0 0 0.16 -1.5708 0 -1.7453 base_link camera_link" />

    <node pkg="ottobot_pkg" type="realsense_node.py" name="realsense_d435i" ns="ottobot" output="screen">
        <param name="frame_rate" value="30"/>
        <param name="frame_id" value="camera_link"/>
        <param name="estimate_orientation" value="false"/>
    </node>

    <!-- Streaming nodes -->
    <node pkg="image_transport" type="republish" name="color_republisher" ns="ottobot" 
    args="raw in:=/ottobot/realsense_camera/raw/rgb_image compressed out:=/ottobot/realsense_camera/compressed/rgb_image"/>
    <node pkg="image_transport" type="republish" name="depth_republisher" ns="ottobot" 
    args="raw in:=/ottobot/realsense_camera/raw/depth_image compressed out:=/ottobot/realsense_camera/compressed/depth_image"/>

    <!-- QR tracker -->
    <!-- <node pkg="ottobot_pkg" type="qr_detector_node.py" name="qr_tracker" ns="ottobot">
        <param name="img_in" value="/ottobot/realsense_camera/raw/rgb_image"/>
        <param name="img_out" value="/ottobot/qr_tracker/image"/>
    </node> -->
</launch>